@charset "utf-8";
body {
    margin: 0;
    background-image: url(imgWall.png);
    background-size: 7vh;
    backdrop-filter: blur(2px) brightness(80%);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}