@charset "utf-8";
html{
    touch-action: manipulation;
    overflow: hidden;
}
body {
    margin: 0;
    background-image: url(imgWall.png);
    background-size: 7dvh;
    backdrop-filter: blur(2px) brightness(80%);

}
.container{
    display: flex;
    justify-content: center;
    height: 100dvh;
}