@charset "utf-8";
html,
body,
canvas {
    touch-action: none;
    overflow: hidden;
}
body {
    margin: 0;
    background-image: url(imgWall.png);
    background-size: 7dvh;
    backdrop-filter: blur(2px) brightness(80%);
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100dvh;

}
.btnWrapper {
    position: absolute;
    aspect-ratio: 440 / 800;
    height: 100dvh;
}
.btn {
    position: absolute;
    width: 13.6%;
    height: 7.5%;
    text-align: center;
}
.up {
    left: 68.18%;
    top: 64.5%;
}
.right {
    left: 81.81%;
    top: 72%;
}
.left {
    left: 54.54%;
    top: 72%;
}
.down {
    left: 68.18%;
    top: 72%;
}

.none {
    display: none;
}